.create-div {
  border-radius: 20px;
  margin-bottom: 10px;
}
.create_button {
  background-color: rgb(19, 133, 215);
  height: 40px;
  border: none;
  width: 100px;
  color: white;
  border-radius: 5px;
  box-shadow: 2px 2px rgb(193, 192, 192);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif f;
  font-weight: bold;
}
.create_button:hover {
  background-color: rgb(19, 133, 215);
  height: 42px;
  border: none;
  width: 100px;
  color: rgb(209, 206, 206);
  border-radius: 5px;
  box-shadow: 2px 2px rgb(193, 192, 192);
}
option {
  cursor: pointer;
}
select {
  height: 55px;
  color: gray;
  font-size: large;
  text-align: center;
}
label {
  letter-spacing: 3px;
  margin-bottom: 3px;
}
